
.container{
    display: flex;
    border: 2px solid red;
    gap: 24px;
}
.image {
    width: 856px;
    height: 497px;
    border-radius: 12px;
}
.sliderItemContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}