.announcementItem {
    max-width: 306px;
    height: 98px;
    display: flex;
    gap: 27px; 
}

.date {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05B093;
    border-radius: 12px;
    color: white;
}

.dateNumber {
    height: 45px;
    font-size: 32px;
}

.dateMonth {
    font-size: 18px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}