.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headerSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 400;
}
.headerSectionRight{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.headerSectionText{
   font-size: 24px;
   font-weight: 400; 
}
