.calendar {
	width: 526px;
	height: 564px;
}
.imageWrap {
	position: relative;
	width: 526px;
	height: 300px;
}
.image {
	width: 100%;
	height: 300px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}
.name {
	position: absolute;
	width: 478px;
	height: 45px;
	bottom: 0;
	font-size: 32px;
	font-weight: bold;
	margin: 24px;
	color: white;
}
.container {
	width: 100%;
	height: 264px;
	display: flex;
	gap: 24px;
	background-color: rgb(25, 25, 25, 5%);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.leftWrap {
	display: flex;
	justify-content: space-between;
	width: 154px;
	height: 216px;

	flex-direction: column;
	margin: 24px 0 24px 24px;
}
.month {
	font-size: 32px;
	font-weight: bold;
}
.buttonContainer {
	display: flex;

	bottom: 0;
	gap: 8px;
}
.button {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: white;
	background-color: #05b093;
	border-radius: 8px;
}

.rightWrap {
	width: 304px;
	height: 216px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin: 24px;
}
.border {
	border-radius: 4px;
}
