.header {
	width: 100%;
	background-color: #191919;
	color: white;
	height: 100px;
}
.title {
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.list {
	display: flex;
	gap: 40px;
}

.item {
	position: relative;
	font-size: 16px;
	font-weight: 600;
}

.item:not(.item:last-child):before {
	content: url(./image/romb.svg);
	position: absolute;
	right: -20px;
}
